{% extends "base.html" %}

{% block title %}
Cinema App
{% endblock %}

{% block content %}

<h1>Pel·lícules Populars per <i>The Movie Database</i></h1>
<br/>
<div class="row best-films">
    <!--<div class="col-sm-3">
        <div class="card" style="width: 18rem;">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title"></h5>
                <p class="card-text"></p>
                <a href="#" class="btn btn-primary"></a
            </div>
        </div>
    </div>-->
</div>
<div class="spinner-border best-films-spinner" role="status">
  <span class="visually-hidden">Loading...</span>
</div>


{% endblock %}

