{% extends "base.html" %}

{% block title %} Tickets List {% endblock %}

{% block body %}
    <h1>List of Tickets</h1>
<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">

        <div class="table-responsive py-2">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Movie</th>
                    <th>Cinema</th>
                    <th>Room</th>
                    <th>Client</th>
                    <th>Price</th>
                    <th>Date</th>
                </tr>
                </thead>
                <tbody>
                {% if tickets|length != 0 %}
                    {% for ticket in tickets %}
                    <tr>
                        <td>{{ticket.Movie.name}}</td>
                        <td>{{ticket.Room.Cinema.name}}</td>
                        <td>{{ticket.Room.number}}</td>
                        <td>{{ticket.Client.DNI}}</td>
                        <td>{{ticket.price}} €</td>
                        <td>{{ ticket.date|date:"d/m/Y H:i" }}</td>
                    </tr>
                    {% endfor %}
                {% else %}
                 <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                {% endif %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}