{% extends "base.html" %}

{% block title %}
Create tickets 
{% endblock %}

{% block content %}

<div class="container" style="margin-top: 50px">
    <h2>Create tickets</h2>
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <div class="alert alert-primary" role="alert">
            {{ message }}
        </div>
        {% endfor %}
    </ul>
    {% endif %}
    <form method="POST">
        {% csrf_token %}
        <div class="form-group">
            <label>Select cinema: </label>
            <select name="cinema" required>
                <option value="" selected="selected">NOT SELECTED</option>
                {% for c in cinemas %}
                <option value="{{c.id}}">
                    {{c.name}}
                </option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <label>Select room: </label>
            <select name="room" required>
                <option value="" selected="selected">NOT SELECTED</option>
                {% for r in rooms %}
                <option value="{{r.id}}" class="room-option cinema-id-{{r.Cinema.id}}">
                    {{r.Cinema.name}} - {{r.id}}
                </option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <label>Select movie: </label>
            <select name="movie" required>
                <option value="" selected="selected">NOT SELECTED</option>
                {% for m in movies %}
                <option value="{{m.id}}">
                    {{m.name}}
                </option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <label>Data movie:</label>
            <input required name="date_movie" type="date"/>
        </div>
        <div align="center">
            <button type="submit" class="btn btn-primary" value="confirm_changes">Add</button>
        </div>

    </form>
</div>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384 JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>


{% endblock %}
    
    

