{% extends "base.html" %}

{% block title %} Movie List {% endblock %}

{% block body %}
    <h1>List of movies</h1>
<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
        <div clas="table-responsive py-2">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Image</th>
                    <th>Gender</th>
                    <th>Duration</th>
                    <th>Synopsis</th>
                </tr>
                </thead>
                <tbody>
                {% for movie in movies %}
                <tr>
                    <td>{{movie.name}}</td>
                    <td><img src="{{MEDIA_ROOT}}/{{movie.image}}" alt="{{ movie.name }}"></td>
                    <td>{{movie.genere}}</td>
                    <td>{{movie.duration}}</td>
                    <td>{{movie.descripton}}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
<h1>{{MEDIA_ROOT}}</h1>
{% endblock %}