{% extends "base.html" %}

{% block title %} Movie List {% endblock %}

{% block body %}
    <h1>List of movies</h1>
<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
        <div clas="table-responsive py-2">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Image</th>
                    <th>Classification</th>
                    <th>Gender</th>
                    <th>Duration</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for movie in movies %}
                <tr>
                    <td>{{movie.name}}</td>
                    <td><img src="{{MEDIA_ROOT}}/{{movie.image}}" alt="{{ movie.name }}"></td>
                    {% if movie.classification == 'X' %}
                        <td>+18</td>
                    {% else %}
                        <td>{% if movie.classification != 'APTA' %}+{% endif %}{{movie.classification}}</td>
                    {% endif %}
                    <td>{{movie.gender}}</td>
                    <td>{{movie.duration}}</td>
                    <td><a class="btn btn-primary" href="{% url 'movie_detail' movie.id %}">Detail</a> </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
<h1>{{MEDIA_ROOT}}</h1>
{% endblock %}