{% extends "base.html" %}

{% block title %} Movie Detail {% endblock %}
{% block css %}
    .notify-badge{
        position: absolute;
        right: 0px;
        bottom:(screen.widht/2);
    }
{%endblock%}
{% block body %}
    <div class="container">
        <h1>Movie Detail</h1>
        <div class="card">
            <span class="notify-badge badge badge-pill badge-warning">{{movie.classification}}</span>
            <img src="https://images-na.ssl-images-amazon.com/images/I/418V46UrfUL.jpg" class="card-img-top" alt="{{movie.name}}">
            <div class="card-body">
                <h5 class="card-title">{{ movie.name}}</h5>
                <hr/>
                    <div class="d-flex">
                        <p><b>Gender:</b> {{movie.genere}}</p>
                        <p class="ml-auto"><b>Duration:</b> {{movie.duration}}'</p>
                    </div>
                <hr/>
                <p class="card-text">{{ movie.description}}</p>
                <div class="card-footer text-muted d-flex">
                    <div>
                        <a href="#" class="float-start btn btn-danger">Delete</a>
                    </div>
                    <div class="ml-auto">
                        <a href="#" class="float-end btn btn-warning">Edit</a>
                    </div>
                </div>
            </div>
        </div>
        </div>
{% endblock %}