{% extends "base.html" %}

{% block title %} Cinemas List {% endblock %}

{% block body %}
<h1>List of Cinemas</h1>
<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
        <div class="table-responsive py-2">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Adress</th>
                    <th>Rooms</th>
                    <th>Description</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {% for cinema in cinemas %}
                    <tr>
                        <td>{{ cinema.name }}</td>
                        <td>{{ cinema.adress }}</td>
                        <td>{{ cinema.room_set.values.count }}</td>
                        <td>{{ cinema.description }}</td>
                        <td><a class="btn btn-primary" href="{% url 'cinema_detail' cinema.id %}">Details</a> </td>
                    <td>
            <a class=" btn btn-success " value="Room list"  href="{% url 'room_list' cinema.id %}"> Room list</a>
        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        {% if request.user.is_staff %}
        
        <div class="card-footer text-muted d-flex">
                <a href="New_Cinema" value="+New" class="btn btn-green">+New</a>
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}
