{% extends "base.html" %}

{% block title %} Lista de salas {% endblock %}

{% block body %}


<div class="container">
    <h1>Lista de salas</h1>
    <form action="" method="POST">
        {% csrf_token %}

    </form>

    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
        <div clas="table-responsive py-2 ">
            <table class="table table-striped text-truncate">
                <thead>
                <tr>

                    {% if user.is_servicios_adicionales %}
                        <th colspan="2">Cliente</th>
                    {% endif %}
                    <th>Room number</th>
                    <th>Capacity</th>
                </tr>
                </thead>
                <tbody>

                {% for room in  rooms%}

                    <th scope="row" hidden><input type="number" id="id_room{{room.id}}" name="id_room{{room.id}}" value="{{room.id}}" readonly required/></th>
                    <td>{{room.number}}</td>
                    <td>{{room.capacity}}</td>
                    <td>
                            <h4>
                                <span class="badge badge-pill
                        {% if inciden.estadoIn == 'PD' %}
                            bg-warning">{{'Incidencia pendiente'}}
                        {% elif inciden.estadoIn == 'SC' %}
                            bg-success">{{'Incidencia solucionada'}}
                        {% elif inciden.estadoIn == 'EP' %}
                            bg-info">{{'Incidencia en progreso'}}
                        {% else %}
                            bg-danger">Error en la solicitud
                        {% endif%}
                                </span>
                            </h4>
                        </td>
                        <td>
                            <div class="form-group">
                                {% if  user.is_cliente %}
                                    {% if not inciden.estadoIn == 'PD'  %}
                                        <a class="btn btn-primary btn-block" href=# >Detalles</a>
                                    {% else %}
                                        <a class="btn btn-danger btn-block text-white disabled " href=# >Cerrada</a>
                                    {% endif %}
                                {% elif user.is_servicios_adicionales %}
                                    <a class="btn btn-primary btn-block text-white text-truncate" href=# >Valorar incidencia</a>
                                {% endif %}
                            </div>
                        </td>
                </tr>
                {% endfor %}

                </tbody>
            </table>
            <a class="btn btn-success" href=#>Eliminar</a>
        </div>
    </div>
</div>

{% endblock %}
