{% extends "base.html" %}

{% block title %} Cinemas List {% endblock %}

{% block body %}
<h1>List of Cinemas</h1>
<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
        <div class="table-responsive py-2">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Adress</th>
                    <th>Rooms</th>
                    <th>Description</th>
                </tr>
                </thead>
                <tbody>
                {% for cinema in cinemas %}
                    <tr>
                        <td>{{ cinema.name }}</td>
                        <td>{{ cinema.adress }}</td>
                        <td>{{ cinema.room_set.values.count }}</td>
                        <td>{{ cinema.description }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="card-footer text-muted d-flex">
                <a href="New_Cinema" class="btn btn-green">+New</a>
        </div>
    </div>
</div>
{% endblock %}
