
{% extends "base.html" %}



{% block title %}
Delete user
{% endblock %}

{% block content %}
<h2> Hello {{user.username}}! Are you sure you want to permanently delete your account?</h2>

<form action="{% url 'delete_user' %}" method="post"> {% csrf_token %}
    <button type="submit" class="btn btn-primary">Yes, I want to delete my account</button>
</form>

<form action="/" method="get">{% csrf_token %}
<button type="submit" class="btn btn-primary">No, I want to keep my account</button>
</form>

{% endblock %}
    
    

