{% extends "base.html" %}

{% block title %} User Edit {% endblock %}

{% block body %}
{% if messages %}
<ul class="messages">
  {% for message in messages %}
    <div class="alert alert-primary" role="alert">
      {{ message }}
    </div>
  {% endfor %}
</ul>
{% endif %}
<div class="container col-sm-12 col-md-6 col-lg-6 col-xl-4">
    <form method="POST">
        {% csrf_token %}
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" id="name" name="name" placeholder="Name" value="{{client.name}}">
        </div>
        <div class="form-group">
            <label for="name">DNI</label>
            <input type="text" class="form-control" id="DNI" name="DNI" placeholder="79038471B" value="{{client.DNI}}">
        </div>
        <div class="form-group">
            <label for="adress">Your adress</label>
            <input type="text" class="form-control" id="adress" name="adress" placeholder="C/Paraguay nº5, Lleida" value="{{client.adress}}">
        </div>
            <div class="form-group">
            <label for="telephone">Phone number</label>
            <input type="text" class="form-control" id="telephone" name="telephone" placeholder="973567802" value="{{client.telephone}}">
        </div>
        <div class="form-group">
            <label for="cardNumber">IBAN</label>
            <input type="text" class="form-control" id="cardNumber" name="cardNumber" placeholder="IBAN" value="{{client.cardNumber}}">
        </div>
        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" class="form-control" id="email" name="email" placeholder="Enter email" value="{{user.email}}">
        </div>
        <div class="form-group">
            <label for="alias">User name</label>
            <input type="text" class="form-control" id="alias" name="alias" placeholder="Alias" value="{{user.username}}">
        </div>

        <div class="form-group">
            <label for="password">Password</label>
            <input type="text" class="form-control" id="password" name="password" placeholder="Name" value="{{user.password}}">
        </div>

        <div align="center">
            <button type="submit" class="btn btn-success">Edit</button>
        </div>
     </form>
</div>
</div>
{% endblock %}