{% extends "base.html" %}

{% block title %}
Profile
{% endblock %}

{% block content %}
<h2> Profile:</h2>

{% if client.user.first_name %}
<p> Name: {{client.user.first_name}}</p>
{% else %}
<p> Name: Not specified</p>
{% endif %}


{% if client.DNI %}
<p> DNI: {{client.DNI}}</p>
{% else %}
<p> DNI: Not specified</p>
{% endif %}


{% if client.address %}
<p> Address: {{client.address}}</p>
{% else %}
<p> Address: Not specified</p>
{% endif %}


{% if client.telephone %}
<p> Phone number: {{client.telephone}}</p>
{% else %}
<p> Phone number: Not specified</p>
{% endif %}



{% if client.user.email %}
<p> E-mail: {{client.user.email}}</p>
{% else %}
<p> E-mail: Not specified</p>
{% endif %}



{% if client.user.username %}
<p> Username: {{client.user.username}}</p>
{% else %}
<p> Username: Not specified</p>
{% endif %}


{% if client.cardNumber %}
<p> Card number: {{client.cardNumber}}</p>
{% else %}
<p> Card number: Not specified</p>
{% endif %}


<form action="/profile/edit/" method="get">
    <input type="submit" value="Edit profile">
</form>
{% endblock %}